VITE_API_BASE_URL=http://localhost:4000
VITE_SUPABASE_URL=https://ouyrepgzakjwcmcrryrt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91eXJlcGd6YWtqd2NtY3JyeXJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNjE4NTUsImV4cCI6MjA5MDYzNzg1NX0.6CInibM7nzxzELxllENR9oR409OVCndVjxoTp93_uLI
